
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

:root {
    --coffee : #DFB78C
}
.Navbar 
{
    width: 100%;
    min-width: 40%;
    background-color: var(--coffee) ;
  
    padding: 5px 0;
}
.NavFlex
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavName a
{ 
    font-size: 3.4rem;
    text-decoration: none;
    color: #5a3d19;
    text-shadow: 0px 0px 5px ;
    font-family: 'Norican', cursive;
    font-weight: 900;

} 
.NavLinks a
{
    text-decoration: none;
    font-size: 1.2rem ;
    margin:  0 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-shadow: 0px 0px 12px ;
    color: white;
}
.Hamburger
{
    
display: none;
}
.mobileNav{
    display: none;
}
@media (max-width : 600px) {
    .NavLinks a{
        font-size: 0.8rem;
    }
   
}
@media (max-width : 460px) {
    .NavLinks{
        display: none;
    }
    .Hamburger{
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        position: relative;
        background: none;
        cursor: pointer;
    }
    .Hamburger .bar, .Hamburger::after , .Hamburger::before{
         content: '';
         display: block;
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    .Hamburger.isActive::before
    {
     transform: rotate(-45deg) translate(-8px, 6px);
    }
    .Hamburger.isActive .bar
    {
     opacity: 0;
    }
    .Hamburger.isActive::after
    {
        transform: rotate(45deg) translate(-9px, -8px);

    }
     .mobileNav
    {
        display: inline-block;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        top: 0;
        left: 100%;
        background-color:rgb(255, 238, 238) ;
        transition: 0.4s;
z-index: 90;
margin-top: 87px;
    }
    .mobileNav.isActive {
        left: 0;
    }
    .mobileNav a
    {
display: block;
margin: 10px auto;
width: 70%;
height: 40px;
text-decoration: none;
color: #5a3d19;
padding: 10px;
text-align: center;
line-height: 38px;
background-color: rgba(238, 183, 120, 0.205);
font-size: 1.2rem;
font-weight: 400;
    } 
    .mobileNav a:hover{
        background-color: rgba(235, 151, 54, 0.349);
    }
}